.searchForm {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.searchInput {
  width: 100%;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 8px;
}

.searchButton {
  background-color: blueviolet;
  color: #f0f0f0;
  transition: backgraund-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.searchButton:hover {
  background-color: rgb(166, 105, 224);
}
