ul,
ol {
  list-style-type: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.galleryItem {
  width: calc((100% - 52px) / 3);
  overflow: hidden;
  border-radius: 8px;
  border: 2px solid rgb(166, 105, 224);
}
