.container {
  display: flex;
  flex-direction: column;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  height: 250px;
}

.galleryImage {
  object-fit: cover;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
